@import "~bootstrap/scss/bootstrap";

body {
  background-color: #f3f2ef;
}


.center {
  padding: 0 50px;
}

.main {
  margin: 0 80px;
}

.main-card {
  padding: 15px 20px;
}

#copyright {
  font-size: 12px;
  color: #50505099
}